@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 0;
}
