@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

/* navbar */

#navbarNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}
.nav-item {
  font-size: xx-large;
}
